.navbar {
    display: flex;
    flex-direction: row;
    background-color: #669BBC;
    padding: 0.3rem 2rem;
    justify-content: space-between;
    border-bottom: 2px solid white;
    font-family: 'Futuristic Armour', sans-serif;
}

.navList {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}


.navLink {
    text-decoration: none;
    &:visited {
        color: black;
    }
    &:hover {
        color: rgb(173, 25, 25);
        text-decoration: underline;
        text-underline-offset:15px;
    }
}

.badge {
    height: 4rem;
    width: 4rem;
}