.navbar {
    display: flex;
    flex-direction: column;
    background-color: #D8B4A0;
    padding: 1rem;
}

.navList {
    display: flex;
    list-style-type: none;
    gap: 1rem;
    justify-content: flex-end;
}


.navLink {
    text-decoration: none;
    &:visited {
        color: black;
    }
    &:hover {
        color: rgb(173, 25, 25);
        text-decoration: underline;
        text-underline-offset:15px;
    }
}

